# ç¬¬ä¸€æ¬¡ç»¼åˆç»ƒä¹

In [1]:
import numpy as np
import pandas as pd

## ã€ä»»åŠ¡ä¸€ã€‘ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§

ã€é¢˜ç›®å¤è¿°ã€‘æ”¶å…¥ç†µåæ˜ äº†ä¸€ä¸ªä¼ä¸šçš„äº§ä¸šæ”¶å…¥å¤šæ ·æ€§ï¼Œå®šä¹‰å¼å¦‚ä¸‹ï¼š

$$
I = - \sum_ip(x_i)\log(p(x_i))
$$

å…¶ä¸­$p(x_i)$æ˜¯ä¼ä¸šè¯¥å¹´äº§ä¸š$x_i$æ”¶å…¥é¢å æ‰€æœ‰äº§ä¸šæ€»æ”¶å…¥çš„æ¯”é‡ã€‚

ã€ä»»åŠ¡ã€‘åˆ©ç”¨`company_data.csv`çš„æ•°æ®è®¡ç®—æ”¶å…¥ç†µ$I$ï¼Œå¹¶å°†è®¡ç®—ç»“æœä½œä¸ºæ–°çš„ä¸€åˆ—æ·»åŠ è‡³`company.csv`ã€‚

å…ˆè¯»å–å¾…å¤„ç†æ•°æ®é›†ï¼Œäº†è§£åŸºæœ¬æƒ…å†µã€‚

In [2]:
# è¯»å–ä¼ä¸šæ¸…å•
company = pd.read_csv('./data/Task Special/Company.csv')
company.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [3]:
# è¯»å–ä¼ä¸šè¯¦ç»†ä¿¡æ¯
df = pd.read_csv('./data/Task Special/Company_data.csv')
df.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [4]:
company['è¯åˆ¸ä»£ç '].nunique()

253

In [5]:
df['è¯åˆ¸ä»£ç '].nunique()

3172

é€šè¿‡åˆæ­¥è§‚å¯ŸåŸå§‹æ•°æ®ï¼Œå¯ä»¥å¾—å‡ºåŸºæœ¬æ€è·¯å¦‚ä¸‹ï¼š

1. å°†`company_data.csv`ä¸­çš„æ•°æ®æŒ‰ç…§**è¯åˆ¸ä»£ç **å’Œ**æ—¥æœŸ**åˆ†ç»„ã€‚
2. å®šä¹‰ä¸€ä¸ªå‡½æ•°ï¼Œç”¨æ¥è®¡ç®—æ”¶å…¥ç†µï¼Œè¿™ä¸ªå‡½æ•°è¿”å›ä¸€ä¸ªæ ‡é‡ã€‚
3. ï¼ˆæœ‰å¯èƒ½ä¸å¯¹ï¼‰åˆ©ç”¨`agg`æ–¹æ³•åˆ†ç»„è®¡ç®—æ”¶å…¥ç†µã€‚æˆ–è€…è€ƒè™‘åˆ©ç”¨`transform`ï¼Œç„¶åå–å”¯ä¸€å€¼ã€‚
4. å°†`company.csv`ä¸æ“ä½œåçš„è¡¨è¿›è¡Œå·¦è¿æ¥ã€‚

éœ€è¦è§£å†³çš„ç»†èŠ‚é—®é¢˜é—®é¢˜æ˜¯ï¼š

1. å°†`company_data.csv`çš„è¯åˆ¸ä»£ç æ ¼å¼åŒ–ã€‚

In [6]:
# å°†è¯åˆ¸ä»£ç æ ¼å¼åŒ–
df['è¯åˆ¸ä»£ç '] = ['#%06d' % x for x in df['è¯åˆ¸ä»£ç ']]

å¯ä»¥çœ‹åˆ°ï¼Œç¬¬äºŒå¼ è¡¨è®°å½•äº†2008å¹´è‡³2016å¹´çš„æ•°æ®

In [7]:
df['æ—¥æœŸ'].value_counts()

2013/12/31    155994
2012/12/31    149876
2016/12/31    122270
2011/12/31    117346
2015/12/31    109262
2014/12/31     92848
2010/12/31     90877
2009/12/31     73401
2008/12/31     52148
Name: æ—¥æœŸ, dtype: int64

å°†æ—¥æœŸæ•°æ®æ”¹ä¸ºå¹´ä»½ã€‚

In [8]:
df['æ—¥æœŸ'] = [x.split('/')[0] for x in df['æ—¥æœŸ']]

In [9]:
df.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0  #000001  2008     1  1.084218e+10
1  #000001  2008     2  1.259789e+10
2  #000001  2008     3  1.451312e+10
3  #000001  2008     4  1.063843e+09
4  #000001  2008     5  8.513880e+08

å…ˆå–å‡ºæŸä¸€ä¸ªå…¬å¸ï¼ŒæŸä¸€å¹´çš„æ”¶å…¥æƒ…å†µï¼Œè¿›è¡Œåˆæ­¥å°è¯•ã€‚

In [10]:
ex = df.loc[(df['è¯åˆ¸ä»£ç ']=='#000001') & (df['æ—¥æœŸ']=='2008')].reset_index()

ç”Ÿæˆæ–°çš„ä¸€åˆ—ï¼Œè¡¨ç¤ºå•é¡¹æ”¶å…¥å æ¯”ã€‚

In [11]:
ex['æ¯”ä¾‹'] = ex['æ”¶å…¥é¢']/ex['æ”¶å…¥é¢'].sum()

In [12]:
ex['æ¯”ä¾‹']*np.log(ex['æ¯”ä¾‹'])

C:\Users\LWKM\Anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0    -0.283522
1    -0.303478
2    -0.321419
3    -0.061724
4    -0.052001
5    -0.100929
6          NaN
7    -0.267157
8          NaN
9    -0.260948
10   -0.283090
11   -0.035319
12   -0.071894
13   -0.043679
Name: æ¯”ä¾‹, dtype: float64

è¿™é‡Œå‡ºç°äº†ä¸€ä¸ªé—®é¢˜ï¼šè‹¥æ”¶å…¥ä¸º**è´Ÿæˆ–é›¶**ï¼Œåˆ™æ— æ³•å–å¯¹æ•°ã€‚

In [13]:
df.loc[df['æ”¶å…¥é¢']<=0]['è¯åˆ¸ä»£ç '].nunique()

2904

In [14]:
df['è¯åˆ¸ä»£ç '].nunique()

3172

å®ç°ä»»åŠ¡æ—¶å¯ä»¥æš‚æ—¶æ’é™¤å­˜åœ¨è´Ÿæ”¶å…¥ä¸šåŠ¡çš„å…¬å¸ã€‚

In [15]:
# ç”Ÿæˆæœ‰è´Ÿæ”¶å…¥ä¼ä¸šçš„ä»£ç 
al = set(df['è¯åˆ¸ä»£ç '].unique())
neg = set(df.loc[df['æ”¶å…¥é¢']<0]['è¯åˆ¸ä»£ç '].unique())

In [16]:
# å–è¡¥é›†
pos = pd.DataFrame(list(al.difference(neg)),columns=['è¯åˆ¸ä»£ç '])

In [17]:
# ä¿ç•™å„é¡¹æ”¶å…¥å‡ä¸ºæ­£çš„ä¼ä¸š
pos = pos.merge(df,on='è¯åˆ¸ä»£ç ',how='left')

In [18]:
pos.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0  #002451  2010     1  6.855732e+07
1  #002451  2010     2  2.667245e+08
2  #002451  2010     3  2.127605e+07
3  #002451  2010     4  3.565579e+08
4  #002451  2010     5  8.925571e+05

In [19]:
pos['æ¯”ä¾‹'] = pos.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ”¶å…¥é¢'].transform(lambda x: x/x.sum())

In [20]:
entro = pos.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ¯”ä¾‹'].agg([('æ”¶å…¥ç†µ',lambda x: -(x*np.log(x)).sum())])

C:\Users\LWKM\Anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [21]:
entro = entro.reset_index()

In [22]:
entro['æ—¥æœŸ'] = entro['æ—¥æœŸ'].astype('int')

In [23]:
company = company.merge(entro,on=['è¯åˆ¸ä»£ç ','æ—¥æœŸ'],how='left')

**æœ€ç»ˆç»“æœ**å¦‚ä¸‹ï¼š

In [24]:
company.head(10)

      è¯åˆ¸ä»£ç     æ—¥æœŸ       æ”¶å…¥ç†µ
0  #000007  2014  3.070462
1  #000403  2015  2.790585
2  #000408  2016  2.818541
3  #000408  2017       NaN
4  #000426  2015  3.084266
5  #000426  2016  2.988900
6  #000426  2017       NaN
7  #000511  2012  3.123733
8  #000511  2013  3.121685
9  #000571  2014  2.858982

## ã€ä»»åŠ¡äºŒã€‘ç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢

In [25]:
team = pd.read_excel('./data/Task Special/ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx')

In [26]:
team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   æ‰€åœ¨ç¾¤       21 non-null     object
 1   é˜Ÿä¼åç§°      21 non-null     object
 2   é˜Ÿé•¿ç¼–å·      21 non-null     int64
 3   é˜Ÿé•¿_ç¾¤æ˜µç§°    21 non-null     object
 4   é˜Ÿå‘˜1 ç¼–å·    21 non-null     int64
 5   é˜Ÿå‘˜_ç¾¤æ˜µç§°    21 non-null     object
 6   é˜Ÿå‘˜2 ç¼–å·    20 non-null     float64
 7   é˜Ÿå‘˜_ç¾¤æ˜µç§°.1  20 non-null     object
 8   é˜Ÿå‘˜3 ç¼–å·    18 non-null     float64
 9   é˜Ÿå‘˜_ç¾¤æ˜µç§°.2  18 non-null     object
 10  é˜Ÿå‘˜4 ç¼–å·    16 non-null     float64
 11  é˜Ÿå‘˜_ç¾¤æ˜µç§°.3  16 non-null     object
 12  é˜Ÿå‘˜5 ç¼–å·    14 non-null     float64
 13  é˜Ÿå‘˜_ç¾¤æ˜µç§°.4  14 non-null     object
 14  é˜Ÿå‘˜6 ç¼–å·    13 non-null     float64
 15  é˜Ÿå‘˜_ç¾¤æ˜µç§°.5  13 non-null     object
 16  é˜Ÿå‘˜7 ç¼–å·    10 non-null     float64
 17  é˜Ÿå‘˜_ç¾¤æ˜µç§°.6  10 non-null     object
 18  é˜Ÿå‘˜8 ç¼–å·    8 non-null      float64
 19  é˜Ÿå‘˜_ç¾¤æ˜µç§°.7  8 non-null      object
 20  é˜Ÿå‘˜9 ç¼–å·    4 non-null      float64
 21  é˜Ÿå‘˜_ç¾¤æ˜µç§°.8  4 non-null      object
 22  é˜Ÿå‘˜10ç¼–å·    1 non-null      float64
 23  é˜Ÿå‘˜_ç¾¤æ˜µç§°.9  1 non-null      object
dtypes: float64(9), int64(2), object(13)
memory usage: 4.1+ KB

In [27]:
team.head()

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandasæ•°æ®åˆ†æ,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pandasæ•°æ®åˆ†æ,panda,11,å¤ªä¸‹çœŸå›,35,æŸšå­,108.0,My,42.0,æ˜Ÿæ˜Ÿç‚¹ç¯,...,157.0,Zys,158.0,ä¸å™¨,102.0,å˜‰å¹³ä½‘æŸ“,NaN,NaN,NaN,NaN
4,Pandasæ•°æ®åˆ†æ,ä¸€è·¯å‘åŒ—,13,é»„å…ƒå¸…,15,åŒ–,16.0,æœªæœŸ,18.0,å¤ªé™½å…‰ä¸‹,...,23.0,ğŸš€,169.0,å¬é£,189.0,Cappuccino,NaN,NaN,NaN,NaN

å¯ä»¥çœ‹å‡ºï¼Œæœ¬ä»»åŠ¡çš„ä¸»è¦ç›®æ ‡æ˜¯å®ç°ä»å®½è¡¨åˆ°é•¿è¡¨çš„å˜å½¢ã€‚

ç»“åˆåŸè¡¨ç‰¹å¾ï¼Œåº”è¯¥é‡‡ç”¨`wide_to_long`æ–¹æ³•ã€‚

æœ¬é¢˜æŠ€æœ¯éš¾ç‚¹ï¼šåˆ—åç§°å¹¶ä¸ç†æƒ³ï¼Œå¯èƒ½éœ€è¦è°ƒæ•´å’Œæ ¼å¼åŒ–ï¼Ÿ

å®åœ¨ä¸è¡Œï¼Œå¯ä»¥è€ƒè™‘**æš´åŠ›é‡å‘½å**

In [28]:
cl = ['æ‰€åœ¨ç¾¤','é˜Ÿä¼åç§°','ç¼–å·_é˜Ÿé•¿','æ˜µç§°_é˜Ÿé•¿','ç¼–å·_é˜Ÿå‘˜1','æ˜µç§°_é˜Ÿå‘˜1',
      'ç¼–å·_é˜Ÿå‘˜2','æ˜µç§°_é˜Ÿå‘˜2','ç¼–å·_é˜Ÿå‘˜3','æ˜µç§°_é˜Ÿå‘˜3','ç¼–å·_é˜Ÿå‘˜4','æ˜µç§°_é˜Ÿå‘˜4',
      'ç¼–å·_é˜Ÿå‘˜5','æ˜µç§°_é˜Ÿå‘˜5','ç¼–å·_é˜Ÿå‘˜6','æ˜µç§°_é˜Ÿå‘˜6','ç¼–å·_é˜Ÿå‘˜7','æ˜µç§°_é˜Ÿå‘˜7',
      'ç¼–å·_é˜Ÿå‘˜8','æ˜µç§°_é˜Ÿå‘˜8','ç¼–å·_é˜Ÿå‘˜9','æ˜µç§°_é˜Ÿå‘˜9','ç¼–å·_é˜Ÿå‘˜10','æ˜µç§°_é˜Ÿå‘˜10']

In [29]:
team.columns = cl

In [30]:
team = pd.wide_to_long(team, stubnames = ['ç¼–å·','æ˜µç§°'], i = ['æ‰€åœ¨ç¾¤','é˜Ÿä¼åç§°'], j = 'member',sep = '_',suffix='.+')

In [31]:
team = team.reset_index()

In [32]:
# ä¿ç•™éç©ºè®°å½•
team = team.iloc[:,1:].loc[team['ç¼–å·'].isnull()==False].reset_index(drop = True)

In [33]:
# æ›´æ”¹æ ¼å¼
team['ç¼–å·'] = team['ç¼–å·'].astype('int')

In [34]:
# æå–é˜Ÿé•¿æŒ‡æ ‡å˜é‡
team['æ˜¯å¦é˜Ÿé•¿'] = pd.get_dummies(team.member)['é˜Ÿé•¿']

In [35]:
# é‡æ’é¡ºåº
team = team.iloc[:,[4,0,3,2]]

In [36]:
team

     æ˜¯å¦é˜Ÿé•¿    é˜Ÿä¼åç§°          æ˜µç§°   ç¼–å·
0       1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ      å±±æ«å¶çº·é£     5
1       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ          è”¡     6
2       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ        å®‰æ…•å¸Œ     7
3       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ          ä¿¡ä»°    8
4       0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    biubiuğŸ™ˆğŸ™ˆ   20
..    ...     ...         ...  ...
141     0    ä¸ƒæ˜Ÿè”ç›Ÿ       Daisy   63
142     0    ä¸ƒæ˜Ÿè”ç›Ÿ  One Better  131
143     0    ä¸ƒæ˜Ÿè”ç›Ÿ        rain  112
144     1     åº”å¦‚æ˜¯         æ€æ— é‚ª   54
145     0     åº”å¦‚æ˜¯    Justzer0   58

[146 rows x 4 columns]

æ—¶é—´æœ‰é™ï¼Œä¸Šè¿°è§£æ³•ååˆ†ç¬¨æ‹™ï¼Œä½†ä¼¼ä¹å¯ä»¥è¾¾åˆ°ç›®æ ‡æ•ˆæœã€‚

## ã€ä»»åŠ¡ä¸‰ã€‘ç¾å›½å¤§é€‰æŠ•ç¥¨æƒ…å†µ

In [37]:
pop = pd.read_csv('./data/Task Special/county_population.csv')
vote = pd.read_csv('./data/Task Special/president_county_candidate.csv')

In [38]:
s = [x.strip('.') for x in pop['US County']]

In [39]:
state = [x.split(', ')[1] for x in s]
county = [x.split(', ')[0] for x in s]

In [40]:
pop.head()

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

In [41]:
pop['state'], pop['county'] = state, county

In [42]:
pop = pop.iloc[:,[2,3,1]]

In [43]:
pop.head()

     state          county  Population
0  Alabama  Autauga County       55869
1  Alabama  Baldwin County      223234
2  Alabama  Barbour County       24686
3  Alabama     Bibb County       22394
4  Alabama   Blount County       57826

In [44]:
vote.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

è€ƒè™‘å°†ä¸¤è¡¨è¿æ¥ã€‚

In [45]:
# ç”Ÿæˆåˆå¹¶æ•°æ®é›†
df = vote.merge(pop, on = ['state','county'], how = 'left')

In [46]:
df.tail()

,state,county,candidate,party,total_votes,won,Population
32172,Arizona,Maricopa County,Write-ins,WRI,1331,False,4485414.0
32173,Arizona,Mohave County,Donald Trump,REP,78535,True,212181.0
32174,Arizona,Mohave County,Joe Biden,DEM,24831,False,212181.0
32175,Arizona,Mohave County,Jo Jorgensen,LIB,1302,False,212181.0
32176,Arizona,Mohave County,Write-ins,WRI,37,False,212181.0

In [47]:
# å°†å·å¿è®¾ä¸ºè¡Œç´¢å¼•
df['total_county'] = df.groupby(['state','county'])['total_votes'].transform('sum')

In [48]:
vote_c = df.groupby(['state','county'])['total_votes'].agg('sum').reset_index()

ä¸ºäº†è®¡ç®—æ–¹ä¾¿ï¼ŒæŠŠæ€»æŠ•ç¥¨æ•°åˆå¹¶åˆ°äº†äººå£è¡¨ä¸Šã€‚

In [49]:
pop = pop.merge(vote_c,on=['state','county'], how = 'inner')

In [50]:
pop['prop']=pop.total_votes / pop.Population

In [51]:
pop.loc[pop.prop > 0.5].count()

state          1435
county         1435
Population     1435
total_votes    1435
prop           1435
dtype: int64

**ç¬¬ä¸€é—®ç»“æœ**ï¼šæœ‰1435ä¸ªå¿æ»¡è¶³åŠæ•°äººå£æŠ•ç¥¨ã€‚

In [52]:
vote.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [53]:
outcome = vote.groupby(['state','candidate'])['total_votes'].agg('sum').reset_index()

In [54]:
outcome.head()

     state     candidate  total_votes
0  Alabama     Write-ins         7312
1  Alabama  Donald Trump      1441168
2  Alabama  Jo Jorgensen        25176
3  Alabama     Joe Biden       849648
4   Alaska     Write-ins        34210

ç¬¬äºŒé—®çš„å…³é”®æ˜¯å°†é•¿è¡¨è½¬ä¸ºå®½è¡¨ã€‚

In [55]:
outcome = outcome.pivot(index='state',columns='candidate',values='total_votes')

In [56]:
us_total = outcome.sum()

In [57]:
us_total.name='us'

In [58]:
us_total = us_total.to_frame().T

In [59]:
outcome = outcome.append(us_total)

In [60]:
final = outcome.T.sort_values('us',ascending=False).T.iloc[:-1,:]

**ç¬¬äºŒé—®ç»“æœ**å¦‚ä¸‹ï¼š

In [61]:
final.head()

candidate,Joe Biden,Donald Trump,Jo Jorgensen,Howie Hawkins,Write-ins,Rocky De La Fuente,Gloria La Riva,Kanye West,Don Blankenship,Brock Pierce,...,Tom Hoefling,Ricki Sue King,Princess Jacob-Fambro,Blake Huber,Richard Duncan,Joseph Kishore,Jordan Scott,Gary Swing,Keith McCormic,Zachary Scalf
Alabama,849648.0,1441168.0,25176.0,NaN,7312.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,153405.0,189892.0,8896.0,NaN,34210.0,318.0,NaN,NaN,1127.0,825.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,1672143.0,1661686.0,51465.0,NaN,2032.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arkansas,423932.0,760647.0,13133.0,2980.0,NaN,1321.0,1336.0,4099.0,2108.0,2141.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
California,11109764.0,6005961.0,187885.0,81025.0,80.0,60155.0,51036.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
vote.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [63]:
# åˆ†å¿è®¡ç®—æ€»æŠ•ç¥¨æ•°
vote['total_county'] = vote.groupby(['state','county'])['total_votes'].transform('sum')

In [64]:
vote

,state,county,candidate,party,total_votes,won,total_county
0,Delaware,Kent County,Joe Biden,DEM,44552,True,87025
1,Delaware,Kent County,Donald Trump,REP,41009,False,87025
2,Delaware,Kent County,Jo Jorgensen,LIB,1044,False,87025
3,Delaware,Kent County,Howie Hawkins,GRN,420,False,87025
4,Delaware,New Castle County,Joe Biden,DEM,195034,True,287633
...,...,...,...,...,...,...,...
32172,Arizona,Maricopa County,Write-ins,WRI,1331,False,2069475
32173,Arizona,Mohave County,Donald Trump,REP,78535,True,104705
32174,Arizona,Mohave County,Joe Biden,DEM,24831,False,104705
32175,Arizona,Mohave County,Jo Jorgensen,LIB,1302,False,104705
32176,Arizona,Mohave County,Write-ins,WRI,37,False,104705

In [65]:
# ä»…ä¿ç•™æ‹œç™»å’Œå·æ™®
BT = vote.loc[vote.candidate.isin(['Joe Biden','Donald Trump'])].reset_index(drop=True)

In [66]:
BT['rate'] = BT.total_votes / BT.total_county

In [67]:
# ä¿ç•™æœ‰æ•ˆä¿¡æ¯
BT = BT[['state','county','candidate','rate']]

In [68]:
# é•¿å˜å®½
BT = BT.pivot(index = ['state','county'], columns = 'candidate', values = 'rate')

In [69]:
BT.head()

candidate               Donald Trump  Joe Biden
state   county
Alabama Autauga County      0.714368   0.270184
        Baldwin County      0.761714   0.224090
        Barbour County      0.534512   0.457882
        Bibb County         0.784263   0.206983
        Blount County       0.895716   0.095694

In [70]:
BT['BT'] = BT['Joe Biden'] - BT['Donald Trump']

In [71]:
btc = BT.reset_index().groupby('state')['BT'].agg(lambda x: x.median()>0)

In [72]:
Biden_Sate = btc[btc].index.to_list()

**ç¬¬ä¸‰é—®**ç»“æœï¼šBiden Stateå¦‚ä¸‹

In [73]:
for x in Biden_Sate: print(x)

California
Connecticut
Delaware
District of Columbia
Hawaii
Massachusetts
New Jersey
Rhode Island
Vermont